<table class="table table-bordered table-inverse">
  <thead>
    <tr>
      <th>Nr</th>
      <th>Name</th>
      <th>Fights</th>
      <th>Won</th>
      <th>Lost</th>
      <th>Points</th>
      <th>Last update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fighter of fighters; let i = index">
      <th width="3%" scope="row">{{ i + 1 }}</th>
      <td>{{ fighter.name }}</td>
      <td width="6%">{{ fighter.swordShieldTable.fights }}</td>
      <td width="6%">{{ fighter.swordShieldTable.win }}</td>
      <td width="6%">{{ fighter.swordShieldTable.loss }}</td>
      <td width="6%">{{ fighter.swordShieldTable.points }}</td>
      <td width="7%">{{ fighter.updated_at | date:"MM/dd/yy" }}</td>
    </tr>
  </tbody>
</table>