.mat-tab-labels {
    background-color: white;
}

.fighter-detail-list.mat-list .mat-list-item .mat-list-item-content{
    height: 28px;
}

.mat-card .card-full-width {
  width: 100%!important;
}

.fat-title{
    font-weight: 700!important;
    font-size: 22px!important;
}

.cdk-overlay-container {
    z-index: 10001!important;
}