<table class="table table-bordered table-inverse">
  <thead>
    <tr>
      <th>Nr</th>
      <th>Name</th>
      <th>Total Points</th>
      <th>Last update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fighter of fighters; let i = index">
      <th width="3%" scope="row">{{ i + 1 }}</th>
      <td><a [routerLink]="['/fighter', fighter.id]" >{{ fighter.name }}</a></td>
      <td>{{ fighter.total_points }}</td>
      <td width="7%">{{ fighter.updated_at | date:"MM/dd/yy" }}</td>
    </tr>
  </tbody>
</table>