<app-nav></app-nav>
     
<div class="container-fluid bg-wallpaper">
   <kendo-tabstrip>
        <kendo-tabstrip-tab [title]="'Total'" [selected]="true">
          <ng-template kendoTabContent>
       <app-total [fighters]='fighters'></app-total>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Leaderboard'">
          <ng-template kendoTabContent>

          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Bohurt'">
          <ng-template kendoTabContent>
            <app-bohurt [fighters]='fighters'></app-bohurt>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Sydney'" [disabled]="true"></kendo-tabstrip-tab>
      </kendo-tabstrip>
</div>