<app-nav [currentUser]='currentUser'></app-nav>
     
<div class="container-fluid bg-wallpaper">
<div class="row">
  <div class="col-md-12 hidden-sm-down">
    <i *ngIf="!changeGrid" class="fa fa-th fa-2x pull-right" (click)="changeGrid=!changeGrid" aria-hidden="true"></i>
    <i *ngIf="changeGrid" class="fa fa-list fa-2x pull-right" (click)="changeGrid=!changeGrid" aria-hidden="true"></i>
  </div>
</div>
  <div *ngIf="!changeGrid" class="row">
    <md-card style="margin:0px 20px 5px 20px; width:100%" *ngFor="let post of posts">
        <md-card-header>
          <md-card-title>Posted by: {{ post.user.name }} on {{ post.created_at | limitTo: 10}} </md-card-title>
          <md-card-subtitle [routerLink]="['/post',post.id]">{{ post.title }}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <div class="row">
          <div class="col-md-9">
            <p [innerHTML]="post.body | limitTo: 100">
            </p>
          </div>
          <div class="col-md-3">
             <img class="img-thumbnail" src="{{ post.url }}">
          </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/post',post.id]">Read More ...</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
  </div>
    <div *ngIf="changeGrid" class="row">
      <div class="col-md-4" *ngFor="let post of posts">
    <md-card style="margin:0px 20px 5px 20px; width:100%; height:250px" >
        <md-card-header>
          <md-card-title>Posted by: {{ post.user.name }} on {{ post.created_at | limitTo: 10}} </md-card-title>
          <md-card-subtitle>{{ post.title }}</md-card-subtitle>
        </md-card-header>
        
        <md-card-content>
          <div class="row">
            <div  class="col-md-12">
             <img style="max-height: 100px" src="{{ post.url }}">
            </div>
          </div> 
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
      </div>
  </div>

    
</div>