<app-nav [currentUser]='currentUser'></app-nav>
     
<div class="container-fluid bg-wallpaper">
  <div class="row">
    <md-card style="width: 100%">
       <ngb-tabset>
  <ngb-tab title="Users Requests">
    <ng-template ngbTabContent>
      <div *ngIf="unauthorisedUsers" class="row">
        <div class="col-md-6">
          <h3>Pending Requests</h3>
          <md-list>
            <md-list-item *ngFor="let user of unauthorisedUsers">
              <img md-list-avatar src="..." alt="...">
              <h3 md-line>{{ user.username }}</h3>
              <p md-line>
                <span><button md-raised-button (click)="adminAction(user,'approve')">Approve</button></span>
                <span><button md-raised-button (click)="adminAction(user,'remove')">Remove</button></span>
                <span><button md-raised-button (click)="adminAction(user,'block')">Block</button></span>
              </p>
            </md-list-item>
          </md-list>
        </div>
        <div class="col-md-6">
           <h3>blocked Requests</h3>
            <md-list>
              <md-list-item *ngFor="let user of blockedUsers">
                <img md-list-avatar src="..." alt="...">
                <h3 md-line>{{ user.username }}</h3>
                <p md-line>
                  <span><button md-raised-button (click)="adminAction(user,'approve')">Approve</button></span>
                  <span><button md-raised-button (click)="adminAction(user,'remove')">Remove</button></span>
                </p>
              </md-list-item>
            </md-list>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Manage Users">
<ng-template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </ng-template>
  </ngb-tab>
  <!-- <ngb-tab title="Disabled" [disabled]="true">
    <ng-template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </ng-template>
  </ngb-tab> -->
</ngb-tabset>
    </md-card>
  </div>
</div>